<div class="container-grid m-5">
    <div *ngFor='let product of Products' class="bg-gray-100 card bg-blue-400">
        <h1 class="h-10 center">{{product.name}} </h1>
        <div class="img">
            <img [src]=product.imgURL>
        </div>
        <div class="flex">
            <button (click)='goToProduct(product._id)' class="btn btn-primary">Ver</button>
            <button class="btn btn-secondary">Editar</button>
            <button (click)='delete(product._id)' class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>